
body {
  background-color: white;
}
.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: rgba(209, 33, 209, 0.809);
  height: 10vh;
  min-height: 50px;
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  z-index: 99;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.App section {

  display: flex;
  flex-direction: column;
  align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: white;
}
main{
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 95%;
}
@media screen and (max-width:500px) {
  main{
    width: 80%;
  }
}
.btn{
  text-align: center;
  align-items: center;
  margin: 10px 0;
}
form{
  height: 15;
  position: fixed;
  bottom: 0;
width: 100%;
max-width: 600px;
display: flex;
font-size: 1.3rem;
border-top: rgb(143, 140, 140) 1px solid;
}
form button{
  width: 15%;
  background-color: #0693f6;
}
input{
  border-radius: 20px;
  line-height: 1.5;
  width: 80%;
  font-size: 1.5rem;
  background-color: hsl(216deg 20% 95%);
  color: black;
  outline: none;
  border: none;
  padding: 0 10px;
}
button{
  background-color: #202c34;
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}
button:disabled{
  font-optical-sizing: 0.5;
  cursor: not-allowed;
}
.sign-in{
  color: #282c34;
  background-color: white;
  max-width: 400px;
  margin: 0 auto;

}

ul , li{
  text-align: left;
  list-style: none;
}

p{
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border: 25px;
  position: relative;
  color: white;
  text-align: center;
}
.message{
  display: flex;
  align-items: center;
  
}
.sent{
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background-color: #0084ff;
  align-self: flex-end;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.received p {
  background-color:#f0f0f0;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
